<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Yournal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Chosen-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Growth</string>
				</array>
			</dict>
			<key>Chosen-Light-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Growth</string>
				</array>
			</dict>
			<key>Chosen-Light-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Opposite</string>
				</array>
			</dict>
			<key>Chosen-Light-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Parchment</string>
				</array>
			</dict>
			<key>Chosen-Light-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Pastel</string>
				</array>
			</dict>
			<key>Chosen-Light-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Sunset</string>
				</array>
			</dict>
			<key>Chosen-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Opposite</string>
				</array>
			</dict>
			<key>Chosen-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Parchment</string>
				</array>
			</dict>
			<key>Chosen-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Pastel</string>
				</array>
			</dict>
			<key>Chosen-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Sunset</string>
				</array>
			</dict>
			<key>Enlightened-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Growth</string>
				</array>
			</dict>
			<key>Enlightened-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Opposite</string>
				</array>
			</dict>
			<key>Enlightened-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Parchment</string>
				</array>
			</dict>
			<key>Enlightened-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Pastel</string>
				</array>
			</dict>
			<key>Enlightened-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Sunset</string>
				</array>
			</dict>
			<key>Inferred-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Growth</string>
				</array>
			</dict>
			<key>Inferred-Light-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Growth</string>
				</array>
			</dict>
			<key>Inferred-Light-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Opposite</string>
				</array>
			</dict>
			<key>Inferred-Light-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Parchment</string>
				</array>
			</dict>
			<key>Inferred-Light-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Pastel</string>
				</array>
			</dict>
			<key>Inferred-Light-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Sunset</string>
				</array>
			</dict>
			<key>Inferred-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Opposite</string>
				</array>
			</dict>
			<key>Inferred-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Parchment</string>
				</array>
			</dict>
			<key>Inferred-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Pastel</string>
				</array>
			</dict>
			<key>Inferred-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Sunset</string>
				</array>
			</dict>
			<key>Original-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Growth</string>
				</array>
			</dict>
			<key>Original-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Opposite</string>
				</array>
			</dict>
			<key>Original-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Parchment</string>
				</array>
			</dict>
			<key>Original-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Pastel</string>
				</array>
			</dict>
			<key>Original-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Sunset</string>
				</array>
			</dict>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Chosen-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Growth</string>
				</array>
			</dict>
			<key>Chosen-Light-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Growth</string>
				</array>
			</dict>
			<key>Chosen-Light-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Opposite</string>
				</array>
			</dict>
			<key>Chosen-Light-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Parchment</string>
				</array>
			</dict>
			<key>Chosen-Light-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Pastel</string>
				</array>
			</dict>
			<key>Chosen-Light-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Light-Sunset</string>
				</array>
			</dict>
			<key>Chosen-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Opposite</string>
				</array>
			</dict>
			<key>Chosen-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Parchment</string>
				</array>
			</dict>
			<key>Chosen-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Pastel</string>
				</array>
			</dict>
			<key>Chosen-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chosen-Sunset</string>
				</array>
			</dict>
			<key>Enlightened-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Growth</string>
				</array>
			</dict>
			<key>Enlightened-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Opposite</string>
				</array>
			</dict>
			<key>Enlightened-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Parchment</string>
				</array>
			</dict>
			<key>Enlightened-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Pastel</string>
				</array>
			</dict>
			<key>Enlightened-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Enlightened-Sunset</string>
				</array>
			</dict>
			<key>Inferred-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Growth</string>
				</array>
			</dict>
			<key>Inferred-Light-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Growth</string>
				</array>
			</dict>
			<key>Inferred-Light-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Opposite</string>
				</array>
			</dict>
			<key>Inferred-Light-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Parchment</string>
				</array>
			</dict>
			<key>Inferred-Light-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Pastel</string>
				</array>
			</dict>
			<key>Inferred-Light-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Light-Sunset</string>
				</array>
			</dict>
			<key>Inferred-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Opposite</string>
				</array>
			</dict>
			<key>Inferred-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Parchment</string>
				</array>
			</dict>
			<key>Inferred-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Pastel</string>
				</array>
			</dict>
			<key>Inferred-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Inferred-Sunset</string>
				</array>
			</dict>
			<key>Original-Growth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Growth</string>
				</array>
			</dict>
			<key>Original-Opposite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Opposite</string>
				</array>
			</dict>
			<key>Original-Parchment</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Parchment</string>
				</array>
			</dict>
			<key>Original-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Pastel</string>
				</array>
			</dict>
			<key>Original-Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Original-Sunset</string>
				</array>
			</dict>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
